<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styleindex.css">
    <script src="https://kit.fontawesome.com/7a66b2a120.js" crossorigin="anonymous"></script>
    <title>Ingreso || Software</title>
</head>

<body>

<div class="container">
    <div class="wrapper">
        <header>Lavaindux</header>
        <form action="#">
            <div class="field email">
                <div class="input-area">
                    <label>
                        <input type="text" placeholder="Usuario">
                    </label>
                    <i class="icon fas fa-user"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">El usuario no puede estar en blanco</div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <label>
                        <input type="password" placeholder="Contraseña">
                    </label>
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">La contraseña no puede estar en blanco</div>
            </div>
            <div class="pass-txt"><a href="">Olvido contraseña?</a></div>
            <input type="submit" value="Entrar">
        </form>
    </div>
    <div class="credit">Corporacion LEGAR SAS</div>
</div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/index.js"></script>
</body>

</html>